<!DOCTYPE html>
<html lang="pl-PL">
    <head>
        <title>wyniki</title>
        <meta charset="UTF-8">
        <meta name="description" content="wyniki">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        </head>
    <body>
        <header>  
            <h1>wyniki:</h1>
        </header>
        <form>
            <br>
            <h2>imie: <%= imie %></h2>
            <h2>nazwisko: <%= nazwisko %></h2>
            <h2>warzywo: <%= warzywo %></h2>
        </form>
        <footer>
            <p>zad 4B</p>
            <p>autor: S17245</p>        
        </footer>
    </body>
</html>