<!DOCTYPE html>
<html lang="pl-PL">
    <head>
        <title>formularz</title>
        <meta charset="UTF-8">
        <meta name="description" content="formularz">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        </head>
    <body>
        <header>  
            <p>wypełnij formularz:</p>
        </header>
        <form method="post" action="/formdata">
            <br>
            podaj imię:
            <br><input type="text" name="imie" value="Grzegorz"><br><br>
            podaj nazwisko:
            <br><input type="text" name="nazwisko" value="Brzęczyszczykiewicz"><br><br>
            podaj ulubione warzywo: 
            <br><input type="text" name="warzywo" value="brokuł"><br><br>
            zatwierdź:
            <br><input type="submit" value="tym guzikiem"><br><br>

            <br>
        </form>
        <footer>
            <p>zad 4B</p>
            <p>autor: S17245</p>        
        </footer>
    </body>
</html>