/*
S17245
*/

body {
	background-color:#e2f8e9;
	background-repeat:repeat-x;
	color:#252525;
	font: Calibri;
	font-size:16px;
	text-align:left;
	padding: 0px;
    margin-left: 20px;
}
/* 3a Styl i rozmiar czcionki nagłówków i akapitów*/
p {
	font: Verdana;
	color: black;
	font-size: 20;
	padding: 10px
}
h1 {
	color:green;
	font-weight:bold;
	font-size:24;
	font: Verdana
}
h2	{
	color:blue;
	font-size:24;
	margin-left: 10px
}

.title {
	text-align: left;
	color: white;
	background-color: darkgreen;
	font-size: 24;
	
}

/* 3b Styl krawędzi tabeli*/
.table, th, td{
	border: 1px solid black;
	border-radius: 15px;
	padding: 15px
}

/* 3c Usunąć podkreślenia spod linków */
#myLink{
	text-decoration: none;
	margin-left: 10px
}

#logo {
	border-radius: 10px;
	width: 200px;
	height: 200px;
	display: flex
}

/* 3d. Zmienić styl wypunktowania dla list nienumerowanych */
ul.ico {
    list-style-image: url('/img/ist2.png');
    
}
  
#myStyle {
	margin:0 auto;
	color: darkgray;
	text-align:left;
	width:600px;
}

#footer{
	margin-top:100px;
	text-align:center;
	padding: 8px;
	color: red;
	height: 100px;
}

.text {
	text-align: left;
	margin-left: 10px;
	font-weight: bold;
	font-family: Verdana;
	color: darkslategrey;
	font-size: 18;
	display: block; 
    padding-top: 5px;
}

.RODO {
	text-align: left;
	margin-left: 10px;
	color: darkslateblue;
	font-size: 24;
	font-weight: bold;
	display: block; 
    padding-top: 15px;
}

.item {
	text-align: left;
	margin-left: 10px;
	padding-top: 15px;
}

.item2 {
	text-align: left;
	margin-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px
}

.buttons {
	text-align: left;
	margin-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px
}

.navigation {
	display: inline
}

.navItems {
	background-color: olivedrab;
	text-decoration: none;
	color: seashell;
	margin: 0;
	padding: 7px
}

.zLewej{
	width: 40%;
	float: left;
}

.clear{
	clear: left;
}

.imgZlewej{
	float: left;
}

.imgZprawej{
	float: right;
}




